*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	min-width: 320px;
}
p{
	text-align: center;
	margin-bottom: 5px;
}
.header{
	background-image: url("../images/header.png");
	height: 55px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.container{
	background-color: #fff;
	padding: 0 8px;
}
.title{
	padding-top: 8px;
	text-align: center;
}
.item{
	margin-left: 20px;
}
.content{
	margin-bottom: 15px;
}
.img{
	width: 255px;
	height: 215px;
	margin: 8px auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img__1{
	background-image: url("../images/i1.png");	
}
.img__2{
	background-image: url("../images/i2.png");	
}
.img__3{
	background-image: url("../images/i3.png");	
}
.img__4{
	background-image: url("../images/i4.png");	
}
.desc{
	font-weight: 900;
	margin: 5px 0;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-weight: 900;
	width: 255px;
	height: 40px;
	background-color: #f04736;
	border-radius: 5px;
	margin: 0 auto;
}
.button__fb{
	margin-bottom: 10px;
}
.link__phone{
	display: block;
	text-decoration: none;
	color: inherit;
}
.button__fb{
	width: 100%;
}
.footer{
	background: #09859d;
	color: #fff;
}
.footer__link{
	color: inherit;
}
.socials{
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.social{
	width: 33px;
	height: 33px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 5px;
}
.fb{
	background-image: url("../images/facebook.png");
}
.vk{
	background-image: url("../images/vk.png");
}
.footer__text{
	margin-top: 10px;
	font-size: 11px;
}
.footer__link{
	font-size: 12px;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
@media( min-width: 375px){
	.img {
    width: 330px;
    height: 275px;
	}
	.button{
		width: 330px;
	}
}
@media( min-width: 425px){
	.header{
		height: 73px;
	}
	.img {
    width: 400px;
    height: 335px;
	}
	.button{
		width: 400px;
	}
}
@media( min-width: 768px){
	body{
		background-color: #09859d;
	}
	p{
		margin: 20px 0;
	}
	.wrapper{
		max-width: 690px;
		background-color: #fff;
		margin: 40px auto 20px;
		padding-bottom: 25px;
	}
	.inner{
		max-width: 640px;
		margin: 0 auto;
	}
	.header{
		height: 120px;
	}
	.container{
		max-width: 540px;
		margin: 0 auto;
		padding: 0;
	}
	.title{
		padding: 0;
	}
	.text{
		text-align: left;
	}
	.list{
		margin-bottom: 35px;
	}
	.item{
		margin-left: 40px;
	}
	.section{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.content{
		margin-bottom: 30px;
	}
	.img {
    width: 255px;
    height: 215px;
    margin: 0 auto 20px;
	}
	.desc{
		margin: 0 auto 20px;
	}
	.link__phone{
	display: inline-block;
	}
	.text-bottom{
		margin: 10px;
	}
	.button{
		width: 100%;
	}
	.button:hover{
		color: #000;
	}
	.button__fb{
		margin: 30px 0;
	}
	.socials{
		padding: 30px 0 25px;
	}
	.social{
		width: 35px;
		height: 35px;
	}
	.footer__text{
		text-align: center;
		font-size: 16px;
	}
	.footer__text:first-child{
		font-weight: 900;
	}
	.footer__link{
		font-size: 16px;
		padding-bottom: 38px;
		font-weight: 900;
	}
}