*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	font-family: 'Lato', sans-serif;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.container__xl{
	max-width: 1860px;
	margin: 0 auto;
}
.header__bottom{
	background: #17696A;
	color: #fff;
}
.header__bottom-content{
	text-align: center;
	font-size: 0.8rem;
	line-height: 1.5rem;
}
.header__bottom-content span{
	font-weight: 900;
	margin-left: 8px;
}
.header__bottom-content a{
	color: inherit;
	margin: 0 8px;
}
.new-collection{
	position: relative;
	margin-bottom: 10px;
}
.new-collection__inner{
	position: absolute;
	top: 20%;
	left: 12%;
}
.new-collection__sub-title{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	margin-bottom: 10px;
}
.new-collection-title{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 7px;
}
.new-collection-link{
    display: flex;
}
.btn{
	color: #fff;
	background-color: #17696A;
	font-size: 10px;
	line-height: 20px;
	letter-spacing: 0.2px;
	padding: 0 15px;
	border: 1px solid #17696A;
	border-radius: 4px;
	margin-right: 10px;
}
.nc-slider{
	position: relative;
}
.slick-arrow{
	width: 25px;
	height: 25px;
	font-size: 0;
	position: absolute;
	top: 40%;
	z-index: 1;
	background: transparent;
	background-image: url('../images/prev-btn.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: none;
}
.slick-prev{
	left: 10px;
}
.slick-next{
	transform: rotate(180deg);
	right: 10px;
}
.gallery{
	margin-bottom: 15px;
}
.gallery .container{
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.gallery-link{
	text-decoration: none;
	color: inherit;
}
.gallery-img{
	max-width: 390px;
}
.gallery figcaption{
	text-align: center;
	line-height: 20px;
}
.title{
	text-align: center;
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 900;
    color: #1E212C;
}
.sub__title{
	text-align: center;
	font-size: 16px;
	line-height: 130%;
	color: #787A80;
}
.new-arrinals{
	margin-bottom: 10px;
}
.new-arrinals .slide{
	text-decoration: none;
	padding: 5px;
}
.na-slider figure{
	margin: 0;
	min-height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.na-slider img{
	margin-bottom: 16px;
}
.na-slider figcaption{
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 150%;
	color: #424551;
	padding-left: 10px;
}
.na-slider .price{
	color: #1E212C;
	font-size: 20px;
	line-height: 130%;
	font-weight: 900;
	padding-left: 10px;
}
.gallery__item{
	position: relative;
	margin-bottom: 5px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banners__inner{
	position: absolute;
	top: 8%;
	left: 8%;
}
.banners__title{
	text-transform: uppercase;
	margin-bottom: 5px;
}
.banners__sub-title{
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 10px;
}
.banners .btn{
	font-size: 0.8rem;
	line-height: 170%;
}
.form-title{
	padding-left: 5px;
    font-size: 0.9rem;
    margin-bottom: .3rem;
}
.form .email{
	width: 17rem;
    padding: 0 10px 0 6px;
    font-size: .9rem;
    line-height: 180%;
    border: 1px solid #D7DADD;
    margin-bottom: .3rem;
    outline: none;
}
.form .btn{
	margin-left: -5rem;
    margin-top: -0.2%;
    line-height: 190%;
    border-radius: 0px 4px 4px 0px;
}
.form-sub_title{
	font-size: 0.8rem;
    padding: 0 5px;
}
.timer{
	display: none;
}
.categories{
	padding: 10px 0;
}
.categories__wraper{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categories__link{
	padding: 0 5px;
	text-decoration: none;
	color: inherit;
	transition: .6s;
}
.categories-img{
	max-width: 180px;
	margin: 5px auto;
	border-radius: 50%;
}
.categories figcaption{
	text-align: center;
	margin-bottom: 5px;
}
.trending{
	background-color: #E5E8ED;
	text-align: center;
}
.trending .title{
	text-align: left;
	padding: 15px 0 15px 30px;
}
.trending .slide{
	text-decoration: none;
	padding: 5px;
}
.trending-slider figure{
	margin: 0;
	min-height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.trending-slider img{
	margin-bottom: 16px;
}
.trending-slider figcaption{
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 150%;
	color: #424551;
	padding-left: 10px;
}
.trending-slider .price{
	color: #1E212C;
	font-size: 20px;
	line-height: 130%;
	font-weight: 900;
	padding-left: 10px;
}
.trending .btn{
	margin: 20px 0;
}
.sale{
	text-align: center;
}
.sale .title{
	text-align: left;
	padding: 15px 0 15px 30px;
}
.sale .slide{
	text-decoration: none;
	padding: 5px;
}
.sale-slider figure{
	margin: 0;
	min-height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sale-slider img{
	margin-bottom: 16px;
}
.sale-slider figcaption{
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 150%;
	color: #424551;
	padding-left: 10px;
}
.sale-slider .price{
	color: #FF4242;;
	font-size: 24px;
	line-height: 130%;
	font-weight: 900;
	padding-left: 10px;
}
.sale-slider .price span{
	color: #787A80;
	font-weight: 400;
	font-size: 18px;
	margin-left: 5px;
	text-decoration: line-through;
}
.sale .btn{
	margin: 20px 0;
}
.app{
	background-color: #1E212C;
	margin: 30px 0;
}
.app__wrap{

}
.app__wrap-img{
	display: none;
}
.app__wrap-content{
	padding: 20px 0;
}
.content-title{
	color: #fff;
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
}
.content-items{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.item{
	margin: 5px 10px;
}
.services{
	padding: 30px 0;
}
.services__wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services__item{
	max-width: 270px;
	text-align: center;
	padding: 15px;
}
.services__item-icon{
	display: flex;
	justify-content: center;
}
.services__item-icon img{
	width: 48px;
}
.services__item-title{
	font-size: 20px;
	line-height: 150%;
	font-weight: 700;
	color: #1E212C;
}
.services__item-text{
	font-size: 16px;
	line-height: 160%;
	color: #787A80;
}
.instagram{
	padding-bottom: 80px;
}
.instagram__content{
	text-align: center;
}
.content__sub-title{
	text-transform: uppercase;
	line-height: 150%;
	letter-spacing: 1px;
}
.content__title{
	font-weight: 900;
	font-size: 32px;
	line-height: 130%;
}
.instagram__images-wrap{

}
.instagram__images-wrap img{
	padding: 7px 0;
}







@media( min-width: 375px){
	.new-collection__sub-title{
		font-size: 0.8rem;
		letter-spacing: 0.1rem;
		margin-bottom: 10px;
	}
	.new-collection-title{
	    font-size: 1.6rem;
	    letter-spacing: 0.1rem;
	    margin-bottom: 7px;
	}
	.btn{
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.4px;
		padding: 0 18px;
		margin-right: 15px;
	}
	.gallery figcaption{
		line-height: 25px;
	}
	.gallery__item{
		margin-bottom: 7px;
	}
	.banners__inner{
		top: 10%;
		left: 10%;
	}
	.banners__title{
		margin-bottom: 7px;
	}
	.banners__sub-title{
		font-size: 1.5rem;
	}
	.banners .btn{
		font-size: 1rem;
		line-height: 180%;
	}
	.form-title{
	    font-size: 1rem;
	    margin-bottom: .4rem;
	}
	.form .email{
	    padding: 0 10px;
	    font-size: 1rem;
	    margin-bottom: .4rem;
	}
	.form .btn{
		margin-top: -3px;
    	line-height: 185%;
	}
	.form-sub_title{
		font-size: 0.8rem;
	    padding: 0 5px;
	}
}
@media( min-width: 425px){
	.new-collection__sub-title{
		font-size: 1rem;
		letter-spacing: 0.1rem;
		margin-bottom: 10px;
	}
	.new-collection-title{
	    font-size: 1.8rem;
	    letter-spacing: 0.2rem;
	    margin-bottom: 10px;
	}
	.btn{
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 0.5px;
		padding: 0px 20px;
		margin-right: 20px;
	}
	.content__sub-title{
		font-size: 20px;
	}
	.content__title{
		font-size: 42px;
    	line-height: 180%;
	}
	.instagram__images-wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.instagram__images-wrap img{
		max-width: 260px;
		width: 32%;
		padding: 10px 0;
	}
}
@media( min-width: 768px){
	.container,
	.container__xl{
		padding: 0 10px;
	}
	.new-collection__sub-title{
		font-size: 18px;
		letter-spacing: 1px;
		margin-bottom: 12px;
	}
	.new-collection-title{
	    font-size: 55px;
	    letter-spacing: 1px;
	    margin-bottom: 40px;
	}
	.btn{
		font-size: 20px;
		line-height: 40px;
		letter-spacing: 0.5px;
		padding: 0px 30px;
		margin-right: 30px;
	}
	.gallery .container{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	.gallery-img{
		box-shadow: 3px 2px 4px 0px rgb(0 0 0 / 50%);
	}
	.gallery-link{
		margin: 0 10px;
		transition: all .6s;
	}
	.gallery-link:hover{
		transform: scale(1.05);
		color: inherit;
		font-weight: 700;
	}
	.banners__title{
		font-size: 1.3rem;
		letter-spacing: .05rem;
		margin-bottom: 15px;
	}
	.banners__sub-title{
		font-size: 2.2rem;
		letter-spacing: .05rem;
		margin-bottom: 20px;
	}
	.banners .btn{
		font-size: 1.3rem;
		line-height: 200%;
	}
	.form-title{
	    font-size: 2rem;
	    margin-bottom: .5rem;
	}
	.form .email{
	    padding: 0 10px;
	    font-size: 1.3rem;
	    margin-bottom: .5rem;
	}
	.form .btn{
		margin-top: -7px;
	    margin-left: -0.4rem;
	    line-height: 180%;
	}
	.form-sub_title{
		font-size: 1.2rem;
	}
	.timer{
		display: block;
    	padding: 7% 0 0;
	}
	.countdown-title {
		padding: 0px 0 20px 30px;
		font-weight: 700;
    	text-transform: uppercase;
    	letter-spacing: 0.05rem;
	}
	.countdown {
		display: inline-block;
    	text-align: center;
	}
	.countdown-number {
    	display: inline-block;
	}
	.countdown-time {
		padding: 0 10px;
    	display: inline-block;
    	font-weight: 900;
	}
	.countdown-text {
		display: block;
    	padding: 5px 10px;
	}
	.categories__link:hover{
		font-weight: 700;
		color: #000;
		transform: scale(1.1);
	}
	.categories__link:hover .categories-img{
		box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 50%);
	}
	.trending-slider .slick-arrow{
		top: -35px;
		transition: all .6s;
		border-radius: 50%;
	}
	.trending-slider .slick-arrow:hover{
		background-image: url('../images/prev-btn-hover.png');
		box-shadow: 0px 0px 8px 4px rgb(255 255 255);
	}
	.trending-slider .slick-prev{
		left: auto;
		right: 30px;
	}
	.trending-slider .slick-next{
		right: 0;
	}
	.sale-slider .slick-arrow{
		top: -35px;
		transition: all .6s;
		border-radius: 50%;
	}
	.sale-slider .slick-arrow:hover{
		background-image: url('../images/prev-btn-hover.png');
		box-shadow: 0px 0px 8px 4px rgb(255 255 255);
	}
	.sale-slider .slick-prev{
		left: auto;
		right: 30px;
	}
	.sale-slider .slick-next{
		right: 0;
	}
	.content-title{
		font-size: 28px;
		line-height: 120%;
		font-weight: 900;
	}
}
@media( min-width: 1024px){
	.header__bottom-content span{
		margin-left: 12px;
	}
	.header__bottom-content a{
		margin: 0 12px 0 4px;
	}
	.new-collection{
		margin-bottom: 0;
		border: 1px solid #000;
		box-shadow: 3px 2px 4px 0px rgb(0 0 0 / 50%);
	}
	.new-collection-title{
	    font-size: 72px;
	    letter-spacing: 1px;
	    margin-bottom: 60px;
	}
	.btn{
		color: #17696A;
		background: transparent;
		font-size: 16px;
		font-weight: 700;
		line-height: 52px;
		letter-spacing: 0.5px;
		padding: 0 40px;
		border: 1px solid #17696A;
		margin-right: 24px;
		transition: all .5s;
	}
	.btn:hover{
		color: #fff;
		background-color: #17696A;
	}
	.slick-arrow{
		width: 48px;
		height: 48px;
	}
	.slick-prev{
		left: 32px;
	}
	.slick-next{
		right: 32px;
	}
	.slick-dots{
		visibility: visible;
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		position: absolute;
		bottom: 8%;
		left: 14%;
	}
	.slick-dots li{
	    padding-right: 85px;
	    margin-right: 10px;
	    border-bottom: 2px solid #424551;
	    opacity: 0.6;
	}
	.slick-dots li.slick-active{
		border-bottom: 2px solid #424551;
		font-weight: 900;
		opacity: 1;
	}
	.slick-dots li button{
	    border: none;
	    background-color: transparent;
	    font-size: 23px;
	    line-height: 42px;
	    opacity: 0.6;
	}
	.slick-dots li button:before{
		content: '0';
	}
	.gallery{
		margin-top: -30px;
		position: relative;
	}
	.gallery-link{
		margin: 0 10px;
	}
	.gallery-link:hover{
		transform: scale(1.1);
	}
	.gallery figcaption{
		line-height: 30px;
	}
	.na-slider .slick-list{
		margin-bottom: 80px;
	}
	.na-slider .slick-dots{
		position: absolute;
		bottom: -80px;
		left: 34%;
	}
	.na-slider .slick-dots li{
		padding-right: 0;
		font-size: 0;
		line-height: 0;
	}
	.na-slider .slick-dots li button{
		font-size: 0;
		line-height: 0;
		padding-right: 30px;
	}
	.banners{
		padding: 100px 0;
	}
	.banners__gallery{
		display: grid;
	    grid-template-columns: repeat(8, 1fr);
	    grid-template-rows: repeat(8, 5vw);
	    grid-gap: 15px;
	}
	.gallery__item-1{
		grid-column: 1/4;
		grid-row: 1/5;
	}
	.gallery__item-2{
		grid-column: 4/9;
		grid-row: 1/5;
	}
	.gallery__item-3{
		grid-column: 1/6;
		grid-row: 5/9;
	}
	.gallery__item-4{
		grid-column: 6/9;
		grid-row: 5/9;
	}
	.gallery__item{
		margin-bottom: 0;
	}
	.banners__inner{
		top: 13%;
		left: 8%;
	}
	.banners__title{
		margin-bottom: 12px;
		font-size: 14px;
		font-weight: bold;
	}
	.banners__sub-title{
		font-size: 32px;
		line-height: 130%;
		font-weight: 900;
		margin-bottom: 15px;
	}
	.banners__wrap-form{
		margin-top: -15px;
	}
	.banners .btn{
		font-size: 1rem;
		line-height: 250%;
	}
	.form-title{
	    font-size: 0.9rem;
	    margin-bottom: 3px;
	}
	.form .email{
		width: 10rem;
	    padding: 0 10px;
	    font-size: 0.8rem;
	    margin-bottom: 5px;
	}
	.form .btn{
		margin-left: -12px;
	    margin-top: 0px;
	    line-height: 146%;
	    background-color: #17696A;
	    color: #000;
	}
	.form-sub_title{
		font-size: 0.7rem;
	}
	.timer{
		padding: 0;
    	margin: -30px 0 0 200px;
	}
	.categories__wraper{
		padding: 15px 0;
	}
	.trending{
		padding: 80px 0;
	}
	.trending .title {
    	padding: 20px 0 20px 30px;
	}
	.trending-slider .slick-arrow{
		top: -55px;
	}
	.trending-slider .slick-prev{
		right: 60px;
	}
	.trending-slider .slick-next{
		right: 0;
	}
	.sale{
		padding: 80px 0;
	}
	.sale .title {
    	padding: 20px 0 20px 30px;
	}
	.sale-slider .slick-arrow{
		top: -55px;
	}
	.sale-slider .slick-prev{
		right: 60px;
	}
	.sale-slider .slick-next{
		right: 0;
	}
	.app{
		margin: 50px 0;
	}
	.app__wrap-img{
		display: block;
	}
	.app__wrap{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	.content-title{
		font-size: 28px;
		line-height: 120%;
		font-weight: 900;
	}
	.services{
		padding: 50px 0;
	}
	.instagram .btn{
		position: relative;
		padding-left: 75px;
	}
	.instagram .btn:hover{
		background-color: #e08f00;
	}
	.instagram .btn:before{
		content: "";
		position: absolute;
		top: 15px;
		left: 25px;
		background-image: url('../images/inst-logo.png');
		width: 24px;
		height: 24px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media( min-width: 1230px){
	.slick-dots{
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		position: absolute;
		bottom: 10%;
		left: 13%;
	}
	.slick-dots li{
	    padding-right: 145px;
	    margin-right: 10px;
	    border-bottom: 2px solid #424551;
	    opacity: 0.6;
	}
	.slick-dots li.slick-active{
		border-bottom: 3px solid #424551;
		font-weight: 900;
    	opacity: 1;
	}
	.slick-dots li button{
	    border: none;
	    background-color: transparent;
	    font-size: 28px;
	    line-height: 60px;
	    opacity: 0.6;
	}
	.slick-dots li button:before{
		content: '0';
	}
	.gallery{
		margin-top: -45px;
	}
	.na-slider .slick-dots{
		left: 38%;
	}
	.gallery-link:hover{
		transform: scale(1.2);
	}
	.banners{
		padding: 150px 0;
	}
	.timer{
		padding-top: 20px;
    	margin: 0;
	}
	.app{
	}
	.app__wrap{
	}
	.app__wrap-img{
		margin-top: -30px;
		max-width: 490px;
	}
	.content-title{
		font-size: 32px;
		line-height: 130%;
		padding: 0 40px;
		text-align: left;
	}
	.content-items{
		justify-content: left;
	}
	.app-link{
		margin: 0 24px;
	}
	.services{
		padding: 100px 0;
	}
	.instagram .container{
		display: flex;
		justify-content: space-between;
	}
}
@media( min-width: 1440px){
	.timer{
		padding-top: 30px;
	}
	.services{
		padding: 120px 0 180px;
	}
}