*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.container{
	max-width: 980px;
	margin: 0 auto;
}
ol{
	list-style: none;
	counter-reset: li;
	padding-inline-start: 20px;
	display: flex;
	flex-direction: column-reverse;
}
li::before{
	counter-increment: li;
	content: counters(li,".") ". ";
}