*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.title{
	text-transform: uppercase;
	font-weight: 300;
	margin: 40px 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}.title::before,.title::after {
	content: '';
	display: block;
	flex-grow: 1;
	height: 6px;
	background: black;
}.title::before {
	margin-right: 20px;
}.title::after {
	margin-left: 20px;
}