*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.main_text{
	width: 100px;
	margin: 30px auto; 
}
.text_1, .text_2, .text_3, .text_4{
	font-size: 20px;
	line-height: 35px;
}
.text_1:before{
	content: "\2660";
	margin-right: 10px;
}
.text_2:before{
	content: "\2663";
	margin-right: 10px;
}
.text_3:before{
	content: "\2666";
	color: red;
	margin-right: 10px;
}
.text_4:before{
	content: "\2665";
	color: red;
	margin-right: 10px;
}
