*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.wrap{
	width: 200px;
	margin: 40px auto;
}
.battery{
  width: 200px;
  height: 70px;
  border: 3px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  position: relative;
}
.battery:before, .battery:after {
    content: " ";
    position: absolute;
}
.battery:after{ 
    width: 10px;
    height: 30px;
    background: black;
    right: -10px;
    top: 17px;
    border-radius: 3px;
}
.battery::before{
  height:100%;
}
.red:before{
  background: red;
  width: 35%;
}
.yellow:before{
  background: yellow;
  width: 65%;
}
.green:before{
  background: green;
  width: 100%;
}