*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.container{
	max-width: 960px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.left{
	min-width: 30%;
	background: #3f6592;
}
img{
	border-radius: 50%;
	display: flex;
	justify-content: center;
}
.personal__img{
	width: 50%;
	margin: 10px auto;
}
.personal{
	margin: 20px;
	color: white;
}
.personal__title{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-right: -20px;
	border-bottom: 1px solid #fff;
}
.personal__box{
	margin-bottom: 10px;
}
.personal__sub-title{
	font-weight: 600;
}
.personal__text{
	font-weight: 200;
}
.personal__text a{
	text-decoration: none;
	color: inherit;
	transition: .4s;
}
.personal__text a:hover{
	color: #000;
}
.wrap__sub-title{
	display: flex;
	justify-content: space-between;
}
.right{
	color: black;
	min-width: 70%;
	margin:26px 30px;
}
.name{
	font-size: 40px;
	font-weight: bold;
	border-bottom: 3px solid #d2d2d2;
	padding-bottom: 23px;
	margin-bottom: 20px;
}
.headline{
	font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 15px;
    margin-top: 10px;
}
.lead{
	margin-top: 10px;
}
.lead__top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.lead__title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.lead__sub-title{
	font-style: italic;
	font-weight: 500;
	margin-bottom: 10px;
}
.lead__bottom{
	color: #585858;
	font-size: 17px;
	margin-bottom: 25px;
}
.lead__right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.lead__title-text{
	font-weight: 600;
	color: #676767;
}
.lead__title-text a{
	text-decoration: none;
	color: inherit;
	transition: .4s;
}
.lead__title-text a:hover{
	text-decoration: underline;
	color: #000;
}
.social{
	display: flex;
	justify-content: space-between;
}
.social__link{
	color: inherit;
	text-decoration: none;
	font-size: 35px;
	transition: .4s;
}
.social__link:hover{
	color: #000;