*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.header{
	height: 100vh;
	padding-top: 25px;
	background-color: #44342c;
}
.container{
	max-width: 960px;
	min-width: 835px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrap_top{
	display: flex;
	background: white;
	width: 100%;
	border-radius: 3px;
}
.sidebar{
	min-width: 36%;
	position: relative;
}
.image__info{
	width: 100%;
	height: 210px;
	background: #000;
	color: #fff;
	opacity: .85;
	position: absolute;
	top: 40%;
	left: -5px;
	text-align: center;
	border-radius: 3px;
}
.image__info-title{
	text-transform: uppercase;
	font-weight: 600;
	padding: 40px 0 15px;
}
.image__info_text{
	text-transform: uppercase;
	font-weight: bold;
}
.image__info_text span{
	color: #fdca19;
	margin-right: 5px;
}
.aside{
	width: 64%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.aside__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.aside__inner{
	width: 200px;
	margin: 5px;
}
.aside__inner-text, .aside__inner-desc{
	font-weight: bold;
}
.aside__inner-text{
	margin-bottom: 5px;
	color: #333;
}
.uppercase{
	text-transform: uppercase;
}
.aside__inner-desc{
	text-transform: uppercase;
}
.aside__inner-desc, .aside__inner-icon{
	color: #9f9f9f;
}
.aside__inner-icon{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 25px;
}
.aside__inner-icon::before,.aside__inner-icon::after {
	content: '';
	display: block;
	flex-grow: 1;
	height: 1px;
	background: #9f9f9f;
}
.aside__inner-icon:before{
	margin-right: -3px;
    margin-top: 1px;
}
.aside__inner-icon:after{
	margin-left: -3px;
    margin-top: 1px;
}
.wrap_bottom{
	display: flex;
	justify-content: end;
}
.buttom{
	width: 175px;
	height: 55px;
	margin-top: 10px;
	background-color: #000;
	display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    transition: .4s;
}
.buttom:hover{
	color: black;
	background-color: #9f9f9f;
	border-radius: 3px;
}