*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	background: #d1d1d1;
}
p{
	margin-bottom: 30px;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.page, .footer{
	max-width: 640px;
	margin: 0 auto;
}
.page{
	background: #fff;
	margin-top: 57px;
}
.header{
	background-image: url("../images/header_bg.gif");
	/*background-position: center center;*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
}
.wrap{
	padding: 60px 50px 30px;
}
.title, .text, .desc{
	font-size: 14px;
	line-height: 20px;
}
.bold{
	font-weight: bold;
}
.title, .footer{
	text-align: center;
}
.two__col{
	margin-bottom: 20px;
}
.three__col{
	margin-bottom: 35px;
}
.two__col .item{
	width: calc((100% - 30px) / 2);
	float: left;
	margin-right: 30px;
}
.three__col .item{
	width: calc((100% - 30px * 2) / 3);
	float: left;
	margin-right: 30px;
}
.two__col .item:last-child,
.three__col .item:last-child{
	margin-right: 0;
}
.img{
	margin-bottom: 20px;
}
.desc{
	min-height: 80px;
	margin-bottom: 10px;
}
.btn__link{
	width: 100%;
	height: 40px;
	background: #cf5b4e;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	border-radius: 7px;
}
.text__bottom{
	margin-bottom: 20px;
}
.text__bottom:last-child{
	margin-bottom: 60px;
	font-style: italic;
}
.footer__text{
	margin: 50px 0 10px;
}
.footer{
	margin-bottom: 30px;
	color: #fff;
}
.footer__link{
	color: #fff;
}
.footer__link:hover,
.text__link:hover,
.btn__link:hover{
	color: #000;
}